{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-container">
        <p class="tag">LikeLion_14th_session</p>
        <h1 class="title">2026 멋쟁이사자처럼 14기</h1>
        <h6 class="welcome">1주차 Django 기초 REMIND!</h6>

        <div class="section">
            <div class="section-title">🦁 Django 페이지 만들기 단계🦁</div>
            <ol>
                <li><strong>HTML 파일 생성 후 작성</strong></li>
                <li><strong>views.py 작성</strong></li>
                <p>특정 URL이 작성한 HTML이 보여지게 해야한다</p>
                <P>views.py를 통해 HTML을 렌더링 될 수 있도록 작성</P>
                <p style="color: #E65C00;">-> def mainpage(request):</p>
                <p style="color: #E65C00;">return render(request, 'main/minpage.html')</p>
                <p>mainpage라는 메서드를 선언 후 template 중에서 main/minpage.html을 보여달라는 의미</p>

                <li><strong>URL연결 - urls.py 작성</strong></li>
                <p style="color: #E65C00;">form main import viesw</p>
                <p>main 앱의 views를 끌어다쓰겠다고 정의</p>
                <p style="color:#E65C00;">path('',views.mainpage, name="mainpage")</p>
                <p>-> ''라는 url로 오는 요청은 mainpage 매서드와 연결하고 이 url 'mainpage'라고 부른다.</p>
            </ol>
        </div>

        <div class="section">
            <div class="section-title">🦁 Template 언어 🦁</div>
                <ol>
                    <li><strong>HTML 링크 연결</strong>></li>
                    <p style="color: #E65C00;">대괄호 % url 'name' % 대괄호</p>
                    <p>-> urls.py에서 지정한 name(별명)을 이용하여 html 페이지 내에서 해당 페이지로 이동할 수 있도록 연결해주는 기능</p>
                    <li><strong>변수 사용</strong></li>
                    <p>views.py에서 변수 선언</p>
                    <p>대괄호를 이용해 html 파일에서 변수기능 사용</p>
                    <li><strong>반복문</strong></li>
                    <p>대괄호 % for product in products % 대괄호</p>
                    <p> 꺽쇠p꺽쇠 대괄호^2 product.name 대괄호^2 꺽쇠/p꺽쇠</p>
                    <p>대괄호 % endfor % 대괄호</p>
                    <li><strong>조건문</strong></li>
                    <p>대괄호 % if 조건 % 대괄호</p>
                    <p>참이네요!</p>
                    <p>대괄호 % else 조건 % 대괄호</p>
                    <p>거짓이네요!</p>
                </ol>
        </div>

        <div class="section">
            <div class="section-title">🦁 중복되는 HTML 파일 정리 🦁</div>
                <ol>
                    <li><strong>Template 상속</strong></li>
                    <p>project 디렉토리에 templates 폴더 생성, base.html 파일 생성 후</p>
                    <p>반복되는 부분을 삽입</p>
                    <p>반복 제외 부분에 block 태그로 감싸기</p>
                    <br/>
                    <p>기존 html파일에서 맨 첫 줄에!!</p>
                    <p style="color: #E65C00;">대괄호 % extends 'base.html' % 대괄호</p>
                    <p>-> base.html을 상속받겠다는 의미</p>
                    <p>공유하는 부분을 제외하고 block 태그로 감싸기</p>
                    <p style="color: #E65C00;">대괄호 % block name % 대괄호</p>
                    <p style="color: #E65C00;">대괄호 % endblock % 대괄호</p>
                    <p>-> 같은 이름의 block을 찾아 내용을 채워넣겠다는 의미</p>
                    <br/>
                    <p>Template 경로 추가</p>
                    <p>settings.py 파일에 import os입력</p>
                    <p>'DIRS': [os.path.join(BASE_DIR, 'project', 'templates')]입력</p>
                </ol>
        </div>

        <div class="section">
            <div class="section-title">🦁 추가 학습 🦁</div>
                <ol>
                    <p><strong>mainpage 렌더링 로직</strong></p>
                    <li>URL로 접속한다.</li>
                    <li>URL에서 해당하는 view를 찾아 호출한다.</li>
                    <li>view 함수가 HTML을 렌더링해서 응답한다.</li>
                    <li>화면에 보여준다.</li>
                </ol>
        </div>
    </div>
{% endblock %}